<% @bookmarks.each do |bookmark| %>
<li><a href=<%= bookmark %>> <%=bookmark%>  </a></li>
<% end %>

<br> 


<div> Add a new bookmark </div> 
<form action="/add_bookmark" method="post">
<input type="text" name = "url"> 
<input type="submit" value="Add Bookmark"> 

</form>